@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 style="text-align:center; font-family:'Times New Roman'"> Mini DMart Application</h2>
    <br/>
    <div class="row">
        <div class="col-md-3">

            <button class="btn btn-primary"><a class="btn btn-default" href="http://localhost:49792/Master/Shop/Index">Shop Add Data &raquo;</a></button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary"><a class="btn btn-default" href="http://localhost:49792/Master/Shop/GetData">Shop Details&raquo;</a></button>
        </div>
        <div class="col-md-3">

            <button class="btn btn-primary"><a class="btn btn-default" href="http://localhost:49792/Master/Stock/Index">Stock Details &raquo;</a></button>
        </div>
        <div class="col-md-3">

            <button class="btn btn-primary"><a class="btn btn-default" href="http://localhost:49792/Master/Calculator/Index">Calculator &raquo;</a></button>
        </div>
    </div>
</div>

